SqliteManagerWcfServiceTest/Connected Services/ServiceReference1/SqliteManagerWcfService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SqliteManagerWcfService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SqliteManagerWcfService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommentDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDataModel" nillable="true" type="tns:CommentDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDataModel" nillable="true" type="tns:ArrayOfCommentDataModel" />
  <xs:complexType name="CommentDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiggCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDataModel" nillable="true" type="tns:CommentDataModel" />
</xs:schema>